{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Login</h1>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                {% if error %}
                                    <div class="alert alert-danger">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.userIdentifier }}, 
                                        <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}

                                <h5 class="card-title">Please sign in</h5>

                                <form method="post">
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Email</label>
                                        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                                    </div>

                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                                    </div>

                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                    {#
                                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                        See https://symfony.com/doc/current/security/remember_me.html

                                        <div class="checkbox mb-3">
                                            <input type="checkbox" name="_remember_me" id="_remember_me">
                                            <label for="_remember_me">Remember me</label>
                                        </div>
                                    #}

                                    <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="height: 100vh"></div>
                
                <div class="card mb-4">
                    <div class="card-body">
                        This is the end of the login form.
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
