{% extends 'base.html.twig' %}

{% block title %}Frage bearbeiten{% endblock %}

{% block body %}
    <h1>Frage #{{ question.id }} bearbeiten</h1>

    {{ form_start(form) }}
        {{ form_row(form.text) }}
        {{ form_row(form.lesson) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}

    <a href="{{ path('app_question', { id: question.id }) }}">Abbrechen</a>
{% endblock %}